div{
width:614px;
background-color: lime;

}
#blok1_kaminski:hover
{
    background-color: gold;
    font-size:6,5mm
}
#blok2_kaminski:hover
{
    background-color: silver;
    font-size:6,5mm
}
#blok3_kaminski:hover
{
    background-color: blue;
    font-size:6,5mm
}
